body {
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

#sidebar {
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
    min-width: 300px;
}

#logo {
    font-size: 48px;
    text-decoration: line-through;
    width: 85.34px;
    cursor: pointer;
}

#menu,
#content {
    margin-top: 25px;
    display: grid;
    gap: 6px;
    font-size: 24px;
}

.folder,
#folder,
.note {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

#folder {
    cursor: pointer;
    background-color: #73ffa2;
}

#folder:hover {
    background-color: #00ff55;
}


.add:active,
.remove:active,
.removenote:active,
#folder:active {
    transform: translatey(2px);
}

.folder {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.add,
.remove,
.removenote {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 30px;
}

.removenote,
.remove {
    margin-left: auto;
    background-color: #ff6565;
}

.removenote:hover,
.remove:hover {
    background-color: #ff1414;
}

.note {
    cursor: pointer;
    margin-left: 20px;
}

#note {
    display: grid;
    height: 100%;
    width: 100%;
}

#note > textarea {
    place-self: center;
    padding: 20px;
    width: 80%;
    height: 80%;
    font-size: 16px;
}

.note {
    flex-basis: 100%;
    display: flex;
    background-color: #c2fdff;
    place-self: center;
}

.noteactive {
    background-color: #00f7ff;
}

.add {
    background-color: #73ffa2;
}

.add:hover {
    background-color: #00ff55;
}