body {
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

#sidebar {
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
}

#logo {
    font-size: 48px;
    text-decoration: line-through;
    width: 85.34px;
}

#menu,
#content {
    margin-top: 25px;
    display: grid;
    gap: 6px;
    font-size: 24px;
}

#folder,
.note,
#content > div {
    box-sizing: border-box;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    min-width: 200px;
}

#folder:hover,
#content > div:hover {
    background-color: #d8d8d8;
}

#folder:active,
#content > div:active {
    background-color: #cccccc;
}

#content > div {
    display: flex;
}

#content > div > button {
    width: 30px;
}

.removenote,
.remove {
    margin-left: auto;
}

.note {
    margin-left: 20px;
}

#note {
    display: grid;
    height: 100%;
    width: 100%;
}

#note > textarea {
    place-self: center;
    width: 80%;
    height: 80%;
    font-size: 16px;
}